<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>BLOGYA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="manifest" href="/static/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%); position: relative">
  <a class="navbar-brand" href="#">
    <img src="/static/img/app-logo.png" width="30" height="30" alt="">
  </a>
  <a class="navbar-brand" style="color: white" href="#">BLOGYA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="font-size: large">
      <li class="nav-item active">
        <a class="nav-link" style="font-size: 23px; color: white" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 23px; color: white" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 23px; color: white" href="/articles">Blogs</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" style="font-size: large">
        {% if session['logged_in'] == True %}
          <li class="nav-item"><a class="nav-link" style="font-size: 23px; color: white" href="/dashboard">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" style="font-size: 23px; color: white" href="/logout">Logout</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" style="font-size: 23px; color: white" href="/register">Register</a></li>
          <li class="nav-item"><a class="nav-link" style="font-size: 23px; color: white" href="/login">Login</a>
        {% endif %}
      </ul>
  </div>
</nav>

<div class="header">

<!--Content before waves-->
<div class="inner-header flex">
    <div class="text-center">
    <h1 style="margin-bottom: 0px">WELCOME TO BLOGYA</h1>
    <br style="margin-top: 0px">
    <h1 style="font-size: x-large">DREAM. CREATE. INSPIRE</h1>
    <br>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg" style="margin-right: 30px">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>
</div>

<!--Waves Container-->
<div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7"></use>
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)"></use>
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)"></use>
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff"></use>
</g>
</svg>
</div>
<!--Waves end-->

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>
